*{
    margin: 0;
    padding: 0;
    
   
    font-family: 'Alexandria', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
   
    
}
.header{
    min-height: 100vh;
   width: 100% ;
    background-position: center;
    background-size: cover;
    position: relative;
    background:linear-Gradient(rgba(1, 18, 60, 0.9),rgba(7, 27, 81, 0.7)),url(Images/banner\ 4.jpg);
   
   
}

#LOGO {
    color:DarkOrange ;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    
}
span{
    color:white;
}
   
nav{
    display: flex;
    padding:2% 6% ;
    justify-content: space-between;
    align-items:center ;
   
}
.nav-links{
    flex: 1;
    text-align: right ;
}
.nav-links ul li {
     list-style: none ;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
     

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: DarkOrange;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    color:DarkOrange;
    font-size: 62px;
    font-weight: bold;
}
.text-box p{
       color: #fff;
       font-size: 13px;
       margin: 15px 0px 50px;

}
.hero-btn{
    display: inline-block;
    background:transparent;
    text-decoration: none;
    padding: 12px 34px;
    color: #fff;
    border: 2px solid DarkOrange;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    border: 2px solid DarkOrange;
    background:  DarkOrange;

}
nav .fa{
    display: none;
}



/*-----------course-----------*/

.course{
      width: 80%;
      margin:auto;
      text-align: center;
      padding-top: 100px ;
      

}
h1{
    font-size: 30px;
    font-weight: 600;
  
   
    
    
   
    
}
p{
    color: #777;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
    padding:10px ;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: rgb(255, 247, 236);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    
    font-weight: 600;
    margin: 10px 0;
   
}
.course-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2) ;

}
/*-------campus-------*/
.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col {
    flex-basis: 32%;
    border-radius:10px ;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
   
}
.campus-col img{
    width: 100%;
    height: 100%;
}
.layer{
    background: transparent ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    
}
.layer:hover{
     background:  rgba(1, 21, 92, 0.489);
     color: #fff;
}
.layer h3{
      width: 100%;
      font-weight: 500;
      color: #fff;
      font-size: 26px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position:absolute;
      opacity: 0;
      transition: .5s;
}
.layer:hover h3 {
     bottom:49%;
     opacity:1;
}

/*----00facilities------*/

.facilities{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px ;
}
.faciities-col{
     flex-basis: 31%;
    
     margin-bottom: 5%;
     text-align: left;
    
}.faciities-col img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    
}
.faciities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.faciities-col p{
    padding: 0;
}


/*--------testimonials-------*/

.testiomonials   {
        width: 80%;
        margin:auto;
        text-align: center;
        padding-top: 100px;
     }

.testimonial-col {
        flex-basis: 44%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        background: rgb(255, 247, 236) ;
        padding: 25px;
        cursor: pointer;
        display: flex;
 }
 .testimonial-col img {
       height: 40px;
       margin-left: 5px;
       margin-right: 30px;
       border-radius: 60%;
 }
 .testimonial-col p{
       padding: 0;
 }
 .testimonial-col .fa{
        color: DarkOrange;
 } 


 /*---------Call to action --------*/
 .cta{
      margin: auto;
      width: 80%;
      background-image: linear-Gradient(rgba(1, 18, 60, 0.9),rgba(7, 27, 81, 0.7)),url(Images/banner\ 8.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 10px ;
      text-align: center;
      padding: 100px 0;
 }

 .cta h1 {
      color:#fff;
     padding: 30px;
 }
 /*-------footer--------*/

 .footer{
      width: 100%;
      text-align: center;
      padding: 30px 0;
 }
 .footer h4{
      margin-top: 20px;
      margin-bottom: 25px;
      font-weight: 600;
 }
 .icons .fa{
    color:darkorange;
    margin: 20px;
    border-radius:10px;
 }
#footer{
    font-size: 12px;
}

/*---- media quary ------*/

@media(max-width: 700px){
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display: block;
    }
    

    .nav-links{
        position: absolute;
        background:DarkOrange;
        height:100vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: .5s;
    }
        nav .fa{
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .nav-links ul{
            padding: 30px;
        }
        .row{
            flex-direction: column;

        }
        .testimonial-col img {
            
            margin-left: 0px;
            margin-right: 15px;
           
      }
      .cta h1{
          font-size: 20px ;
      }
}

@media(min-width: 700px){
    .text-box h1{
        font-size:40px;
    }
    .cta h1{
        font-size: 30px ;
    }
}
@media(min-width: 950px){
    .text-box h1{
        font-size:62px;
    }
}






